.new-location{
    width: 200px;
}

.card{
    width: 300px;
    // height: 350px;
    margin: 10px 10px 10px 0;
}

img{
    // height: 50%;
    width: 100%;
}

.displayContents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#like{
    position: absolute;
    margin-left: 257px;
    top:0;
}

.container{
    width: 80%;
    margin-left:15%;
    margin-right:5%;
}

mat-card-title{
    margin-bottom: 0;
}

mat-card-image{
    margin-bottom: -20px;
}
.cardContent{
    position: absolute;
    bottom: 0px;
    left: 7px;
}