

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

  </script>
</head>


<body>
  <div class="contents">
    <h1>Excited to discover new places?</h1>

    <mat-form-field>
      <input matInput placeholder="Excited to discover new places?" #search>
    </mat-form-field>



    <div class="displayContents"  >
      <div *ngFor="let location of locations | async">
        <div *ngIf="location.name.includes(search.value)">
          <mat-card class="card" *ngIf="location.img">
            <div (click)="detailPopup(location.id)">


              <img mat-card-image src="{{location.img}}">
              <div class="cardContent">
                <mat-card-title >{{location.name}}</mat-card-title>
                <!-- <mat-card-subtitle>{{location.city}} {{location.neighborhood}}</mat-card-subtitle> -->

                <mat-card-content *ngIf="location.tag.length>1">
                  <!-- <mat-icon aria-label="Example icon-button with a heart icon">label_border</mat-icon> -->
                  <strong class= "tags">{{location.tag}}</strong>
                </mat-card-content>
                <div></div>
              </div>
              <!-- <mat-card-content>{{location.content}}</mat-card-content> -->
            </div>

            <mat-card-actions>
              <!-- <button mat-button (click)="add(location.id)">ADD</button> -->
              <!-- <button mat-button (click)="deleteLocation(location.id)" >DELETE</button> -->
              <i id="like" mat-dialog-title class="material-icons" md-48 (click)="like(location.id)">star_border</i>
              <i id="addForPlan" mat-dialog-title class="material-icons" md-48 (click)="keepForPlanning(location.id)">collections_bookmark</i>

            </mat-card-actions>
          </mat-card>
        </div>
      </div>


    </div>
  </div>
</body>
