.new-location{
    width: 200px;
}

.card{
    width: 400px;
    height: 400px;
    margin: 15px;
}

img{
    height: 50%;
    width: 50%;
}

.displayContents{
    display: flex;
    flex-wrap: wrap;
}