<h1>Welcome to travel!</h1>

<mat-card class="new-location">
  <mat-card-actions>
    <i mat-dialog-title class="material-icons" md-48 (click)="openDialog()">add_circle_outline</i>
    New Location
  </mat-card-actions>
</mat-card>


<mat-form-field>
  <input matInput placeholder="SEARCH" #search>
</mat-form-field>


<div class="displayContents">
  <div *ngFor="let location of locations | async">
    <div *ngIf="location.name.includes(search.value)">

        <mat-card class="card">
                <img mat-card-image src="{{location.img}}">
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>{{location.name}}</mat-card-title>
                <mat-card-subtitle>{{location.city}} {{location.neighborhood}}</mat-card-subtitle>
                <mat-card-content>{{location.content}}</mat-card-content>
        
                <mat-card-actions>
                        <!-- <button mat-button (click)="add(location.id)">ADD</button> -->
                        <!-- <button mat-button (click)="deleteLocation(location.id)" disabled="true">DELETE</button> -->

                </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>