// img{
//     width: 200px;
//     height: 200px;
//     position
// }

.dayCard{
    margin-bottom: 15px;
}

img{
    width: 200px;
}

.container{
    width: 800px;
    margin-left: 40%;
}

.plancard{
    margin-bottom: 15px;
}
