<div *ngFor="let plan of plans | async">
        <div *ngIf="plan.id == plan_id">
            <mat-card class ="OnePlan" >
                <!-- <img mat-card-image src="{{hero.storageImg}}"> -->
                <!-- <div mat-card-avatar class="header-image"></div> -->
                <mat-card-title>{{plan.plan_name}}</mat-card-title>
                <!-- <mat-card-title>{{hero.name}}</mat-card-title> -->
                <mat-card-subtitle>{{plan.days}}</mat-card-subtitle>
                <!-- <mat-card-content>{{hero.content}}</mat-card-content> -->
        
                <mat-card-actions>
                  <!-- <button routerLink="/plan-detail/{{plan.plan_id}}" mat-button>EDIT</button> -->
                  <!-- <button mat-button (click)="delete(hero.idnum)">DELETE</button>
                  <button mat-button *ngIf= "isAuth" (click)="liked()">LIKE</button> -->
                </mat-card-actions>
            </mat-card>
       </div>
</div>
<div *ngFor="let day of days | async">
        <mat-card class ="day" >
            <!-- <img mat-card-image src="{{hero.storageImg}}"> -->
            <!-- <div mat-card-avatar class="header-image"></div> -->
            <mat-card-title>{{day.id}}</mat-card-title>
            <!-- <mat-card-title>{{hero.name}}</mat-card-title> -->
            <mat-card-subtitle>{{day.travel_id}}</mat-card-subtitle>
            <!-- <mat-card-content>{{hero.content}}</mat-card-content> -->
    
            <mat-card-actions>
              <!-- <button routerLink="/plan-detail/{{plan.plan_id}}" mat-button>EDIT</button> -->
              <!-- <button mat-button (click)="delete(hero.idnum)">DELETE</button>
              <button mat-button *ngIf= "isAuth" (click)="liked()">LIKE</button> -->
            </mat-card-actions>
        </mat-card>
</div>
