// img{
//     width: 200px;
//     height: 200px;
//     position
// }

.flex{
    display: flex;
    flex-wrap: wrap;
}

.dayCard{
    margin-bottom: 15px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

.card_content{
    margin-top: 197px;

}
img{
    height: 200px;
    position:absolute;
    left:25px;
    top:25px;
}

.container{
    width: 800px;
    margin-left: 20%;
}

.plancard{
    margin-bottom: 15px;
}

.map{
    z-index: 999;
    position: absolute;
    background: black;
}

#mapButton{
    margin-bottom :4px;
    padding:0;
    margin-left: 10px;
}

i{
    margin-top:5px;
    margin-left: 15px;

}

#delete{
    position:absolute;
    right: 13px;
    top: 210px;
}


.mat-card-actions{
    margin-bottom: 0;
    padding:0;
}

.mat-card-content{
    margin-bottom: 0;

}
.mat-card-title{
    margin-bottom: 10px;

}
.mat-card-subtitle{
    margin-bottom: 0;
}