.text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;


}

.example-full-width {
    width: 85%;
    margin-left: 3%;
    
  }

.commentImg {
    border-radius: 50%;
}

.existingComments{
    margin-bottom:0px;
}

