.main_content{
    margin-left: 16%;
    margin-right: 8%;
    margin-top: 2%;
    width: 84%;

}

.example-full-width {
    width: 70%;
    margin-left: 0%;
    
  }

.commentImg {
    border-radius: 50%;
    margin-left:8%;
}

.existingComments{
    margin-left: 8%;
}

.mat-form-field{
    width: 70%;
    margin-top: 10px;
}

.mat-icon{
    margin-left: 10%;
}
.mat-icon-button{
    margin-left: 8%;
}

.remove{
    margin-left: 5%;
}

.existingComments{
    margin-left: 4%;
}

.main_img{
    height: 400px;
    width: 500px;
    margin-left: 17%;
}

.submit{
    margin-left: 0;
}