.text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    width: 70%;

}

.example-full-width {
    width: 70%;
    margin-left: 3%;
    
  }

.commentImg {
    border-radius: 50%;
}

.existingComments{
    margin-bottom:0px;
}

.mat-form-field{
    width: 70%;

}

.mat-icon{
    margin-left: 10%;
}

.existingComments{
    margin-left: 10%;
}
// textarea{
//     width: 70%;
// }
