<div class="container">


  <mat-form-field>
    <input matInput placeholder="Location Name" #name>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" #city>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Neighborhood" #neighborhood>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Content" #content>
  </mat-form-field>
  
<button mat-raised-button (click)="newLocation(name.value, city.value, neighborhood.value, content.value)">Submit</button>