
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/images/angularfirebase.png" width="30px" alt="travel Angular4 Demo App"/> travel
    </a>

    <a role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': show}">
    <div class="navbar-end"  >

      <!-- <a class="navbar-item" routerLink="/ssr">
        SSR Universal
      </a> -->
      <a class="navbar-item" routerLink="/notes">
        Firestore
      </a>
      <!-- <a class="navbar-item" routerLink="/uploads">
        File Uploads
      </a> -->


      <a class="navbar-item" routerLink="/plan" *ngIf="auth.user | async">
        My Plans
      </a>
      <a class="navbar-item" routerLink="/mypage" *ngIf="auth.user | async">
        {{this.dName}}
      </a>
      <a class="navbar-item" (click)="logout()" *ngIf="auth.user | async">
        Logout
      </a>


    <div class="logButton" *ngIf="!this.dName">
      <a class="navbar-item" routerLink="/login">
        Login
      </a>
    </div>

    </div>
  </div>
</nav>












