nav {
  border-bottom: 1px solid #E4E4E4;
  box-shadow: 0 0 4px rgba(0,0,0,.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.navbar-brand { 
  padding: 0 0px 0 2em;
  margin-left: 10%;
}

.navbar-menu { 
  padding-right: 50px;
}

.logButton{
  margin-top: 6px;
}

.buttonAdjust{
  margin-right: 12%;
}

#title{
  color:#3245B0;
}