nav {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.navbar-brand { 
  padding: 0 0px 0 2em;
  margin-left: 10%;
}

.navbar-menu { 
  padding-right: 50px;
}

.logButton{
  margin-top: 6px;
}

.buttonAdjust{
  margin-right: 12%;
}