.searchCard{
    width: 350px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.searchContents{
    display: flex;
    flex-wrap: wrap;
}

#addForPlan{
    margin-right: 5px;
}

img{
    height: 200px;
    position:absolute;
    left:25px;
    top:25px;
}

.dropButton{
    margin-bottom: 15px;
}

.cardContent{
    margin-top: 150px;

}

.mat-card-actions{
    position: absolute;
    top: 220px;

    right: 30px;
    padding:0;
}

.mat-card-content{
    margin-bottom: 0;

}
.mat-card-title{
    margin-bottom: 10px;

}
.mat-card-subtitle{
    margin-bottom: 0;
}
h1{
    margin-bottom: 15px;
}

.mat-form-field-infix{
    margin-top: 0;
}