.searchCard{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.searchContents{
    display: flex;
    flex-wrap: wrap;
}

img{
    height: 200px;
}

.cardContent{
    position: absolute;
    bottom: 0px;
    left: 15px;
}

mat-card-title{
    margin-bottom: 0;
}

mat-card-content{
    margin-bottom: 0px;
}