<div *ngIf="location">

<mat-card class="thisLoc">
    <img mat-card-image src="{{location.img}}">
    <!-- <div mat-card-avatar class="header-image"></div> -->
    <mat-card-title>{{location.name | uppercase }} {{location.order}}</mat-card-title>
    <mat-card-subtitle>{{location.city}} {{location.neighborhood}}</mat-card-subtitle>
    <mat-card-content>{{location.content}}</mat-card-content>

    <mat-card-actions>
        <i id="like" mat-dialog-title class="material-icons" md-48 (click)="like(location.id)">star_border</i>

      <!-- <button mat-button (click)="deleteLocationInPlan(location.id)">DELETE</button> -->
    </mat-card-actions>
</mat-card>

</div>

<!-- reviews -->

<h1>Who liked this post</h1>
<h1>Reviews</h1>