<!-- <h2>My Plans</h2> -->
<!-- <div class="container"> -->
<h1>{{this.dName}}</h1>


<div id="new">
      <i mat-dialog-title class="material-icons" md-48 (click)="openDialog()">add_circle_outline</i> New Plan
      <i id="newloc" mat-dialog-title class="material-icons" md-48 (click)="openDialog2()">add_circle_outline</i> Add Location
</div>



<mat-tab-group class="demo-tab-group">
    <mat-tab label="Plans">
      <div class="content">
        <div *ngFor="let plan of plans">
            <mat-card class ="OnePlan" (hovered)="toggleHover($event)" [class.hovering]="isHovering" >
                <!-- <img mat-card-image src="{{hero.storageImg}}"> -->
                <!-- <div mat-card-avatar class="header-image"></div> -->
                <mat-card-title>{{plan.plan_name | uppercase}}</mat-card-title>
                <!-- <mat-card-title>{{hero.name}}</mat-card-title> -->
                <mat-card-subtitle>Days: {{plan.days}}</mat-card-subtitle>
                <!-- <mat-card-content>{{hero.content}}</mat-card-content> -->
        
                <mat-card-actions>
                  <button routerLink="/plan-detail/{{plan.id}}" mat-button>EDIT</button>
                  <button mat-button (click)="deletePlan(plan.id)">DELETE</button>
                  <i id="share" mat-dialog-title class="material-icons" md-18>share</i>
                  <!-- <button mat-button *ngIf= "isAuth" (click)="liked()">LIKE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Locations">
        <div class="displayContents">
            <div *ngFor="let location of locations">
              <mat-card class="OneLocation">
                            <img mat-card-image src="{{location.img}}">
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>{{location.name}}</mat-card-title>
                            <mat-card-subtitle>{{location.city}} {{location.neighborhood}}</mat-card-subtitle>
                            <mat-card-content>{{location.content}}</mat-card-content>
                    
                            <mat-card-actions>
                                <!-- <button routerLink="/plan-detail/{{plan.id}}" mat-button>EDIT</button> -->
                                <button mat-button (click)="deleteLocation(location.id)">DELETE</button>
                            </mat-card-actions>
                    </mat-card>
            </div>
          </div>
    </mat-tab>

    <mat-tab label="Like">
        <!-- places ive liked to go to -->
        <div class="displayContents">
            <div *ngFor="let like of likes">
              <mat-card class="OneLocation">
                            <img mat-card-image src="{{like.img}}">
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>{{like.name}}</mat-card-title>
                            <mat-card-subtitle>{{like.city}} {{like.neighborhood}}</mat-card-subtitle>
                            <mat-card-content>{{like.content}}</mat-card-content>
                    
                            <mat-card-actions>
                                <!-- <button routerLink="/plan-detail/{{plan.id}}" mat-button>EDIT</button> -->
                                <button mat-button (click)="deleteLike(like.id)">DELETE</button>
                            </mat-card-actions>
                    </mat-card>
            </div>
          </div>
    </mat-tab>

    <mat-tab label="Subscribe">
      <!-- Subscrib to categories of locations -->
    </mat-tab>

    <mat-tab label="Friends">
    </mat-tab>  
  
    <mat-tab label="Messages">
        <!-- Subscrib to categories of locations -->
    </mat-tab>

    <mat-tab label="User Details">
    </mat-tab>
      

</mat-tab-group>

<!-- </div> -->
<!-- container ends -->