.OnePlan{
    width: 400px;
    margin:15px;
}

h1{
    margin-left:30%;
}

#newPlan{
    margin-left: 30%;
    margin-bottom: 15px;
}

mat-tab-group{
    width: 80%;
    margin-left: 10%;
}

// mat-tab{
//     width:33%;
// }
// .OnePlan{
//     position: static;
//     left:10px;
// }