.OnePlan{
    width: 300px;
    margin:10px;
    
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}


.profImg {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 34%;
    top: 110px;
}

h1{
    margin-left:40%;
    margin-bottom: 0;
}

#newloc{
    margin-left: 3px;
}

#new{
    margin-left: 40%;
    margin-bottom: 15px;
    margin-top: 6px;
}

mat-tab-group{
    width: 80%;
    margin-left: 10%;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

#share{
    margin-left: 60px;
}

.OneLocation{
    width: 350px;
    // height: 350px;
    margin: 10px 10px 10px 0;
}

img{
height: 200px;
}

.displayContents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button{
    //background-color: #d9e1e8;
   // border: 1px solid #DADBF0;
   color:#3245B0;
   font-weight:bold;
}

button:hover {
    //color: rgba(255, 255, 255, 0.85);
    color:#3245B0;

    //color:#d9e1e8;
    //box-shadow:  #3245B0 0 0px 0px 40px inset;
}

mat-card{
   //background: #F8FAFF;
   
}

mat-card-title{
    color: #282c37;
}

.diabtn{
    
}

.diabtn:hover{
    color:#3245B0;
}